.checkout-container {
    margin-bottom: 8rem;
}


/*--- css styling below directly taken from stripe 
documentation and modified as per project requirement (start)--*/

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #dee2e6!important;
}

.form-control,
.CardField {
    font-weight: bold;
}

input#id_full_name,
input#id_email,
input#id_contact_number,
input#id_street_address,
input#id_postal_code,
input.InputElement.is-empty.Input.Input--empty {
    font-size: 1.75rem;
    font-weight: normal;
}


/*-----End-----*/


/*---css to create scrolling option to the basket and 
product details on order summary page and also for success
toast after updating qty ---*/

.product-summary-container {
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.product-summary-checkout-container {
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.checkout-img-col {
    height: 140px;
}

.checkout-img-col img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*------spinner---*/


/*----code taken from CI walkthrough project
and modified as per project requirement---(start)--*/

.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(215 164 164 / 67%);
    z-index: 9999;
}

.spinner-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}


/*---end---*/