   /*--Search Box --*/
   
   .search-box {
       z-index: 999;
   }
   
   .input-group-append {
       background-color: #FFFF;
   }
   
   .input-group-home {
       /* position: absolute; */
       width: 30rem;
       /* top: 50%; */
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%, -50%);
       -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
   }
   
   .dropdown-menu-second {
       left: auto;
   }
   /*--Navbar--*/
   
   img.main-logo {
       height: 100%;
       padding: 0px;
   }
   /*--Homepage - Carousel --*/
   
   .container-carousel {
       padding: 0;
   }
   
   .carousel-inner {
       width: 100%;
       padding: 0;
       position: relative;
   }
   
   .carousel-item {
       height: 75rem;
   }
   
   .carousel-item .carousel-media {
       top: 0;
       left: 0;
       min-height: 100%;
       width: 100%;
       object-fit: cover;
   }
   
   .small-text {
       font-size: 0.75rem;
       font-style: italic;
       margin-top: -0.5rem;
   }
   /*---carousel on homepage---*/
   
   .container-carousel {
       margin-top: -8rem;
   }
   
   .banner-text {
       margin: 0;
       position: absolute;
       top: 50%;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%, -50%);
   }
   
   .sign,
   .text-desc {
       text-shadow: 0 0 25px var(--dark), 0 0 25px var(--gray-dark), 0 0 25px #fff, 0 0 20px #dde2db, 0 0 25px var(--light), 0 0 25px var(--light), 0 0 50px var(--light), 0 0 50px #e0e5df;
   }
   
   .text-desc {
       letter-spacing: 0.25rem;
   }
   /*--First Carousel--*/
   
   .first .btn-sub-first,
   .first .btn-main-first {
       font-size: 2rem;
       background-color: var(--text);
   }
   /*--paragraph below carousel--*/
   /*-- Cards on homepage, below carousel --*/
   
   .container-second {
       padding-bottom: 8rem;
   }
   
   .heading-card-main {
       margin-top: 5rem;
       text-align: center;
   }
   
   .card-home {
       height: 100%;
   }
   /*-- card Modal --*/
   
   .modal-content {
       background: aliceblue;
   }
   
   .modal-title {
       font-size: 2.5rem;
   }
   
   .modal-body {
       font-size: 1.5rem;
   }
   
   .close {
       font-size: 4rem;
       color: red;
   }
   
   #modalClose {
       font-size: 2rem;
       padding: 0.75rem;
   }
   /*--contact form--*/
   
   #contact-section {
       margin-bottom: 8rem;
   }
   
   .contact-form {
       text-align: center;
   }
   
   label {
       font-size: 2rem;
   }
   
   input#id_full_name,
   input#id_email,
   textarea#id_message {
       width: 50%;
       font-size: 1.25rem;
       margin-left: 2rem;
       font-weight: bold;
   }
   
   input#id_email {
       margin-left: 5rem;
   }
   
   textarea#id_message {
       resize: none;
       margin-left: 3rem;
   }
   /*--contact form success template--*/
   
   .success-container {
       margin-top: 15rem;
   }
   /*----Media---*/
   
   @media screen and (min-width: 992px) {
       .sign {
           letter-spacing: 1rem;
           font-size: 5rem;
       }
       .text-desc {
           letter-spacing: 1rem;
       }
   }
   
   @media screen and (max-width: 992px) {
       .input-group-home {
           width: 50vw;
       }
   }
   
   @media screen and (max-width: 576px) {
       .input-group-home {
           width: 50vw;
       }
   }