{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css_basket %}
    <link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block content %}
   <div class="container basket-container">
    <div class="row text-center">
        <div class="col">
            <h2 class="basket-title mt-5 pb-4 pt-4 font-weight-bold first-text">Order Basket</h2>
            <hr class="block-divider">
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            {% if basket_products %}
                <!-------display basket details on small devices only--->
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            {% include "basket/cost.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "basket/checkout_btn.html" %}
                            <p class="fourth-text mt-4 pt-4 pb-4">A summary of your basket contents is below</p>
                        </div>
                    </div>
                    {% for product in basket_products %}
                        <div class="row">
                            <div class="col-12 mb-2">
                                <p class="text-center font-weight-bold text-dark text-capitalize">{{ product.product.product_name }}</p>
                            </div>
                            <div class="col-12 mb-2">
                                {% include "basket/image.html" %}
                            </div>
                            <div class="col-12 order-sm-last fourth-text">
                                <p class="text-center">Each : £ {{ product.product.selling_price }}</p>
                                <p><strong>Total : £ {{ product.product.selling_price | calculate_total:product.quantity }}</strong></p>
                            </div>
                            <div class="col-12 fourth-text">
                               Size: {{ product.selected_size }}
                            </div>
                            <div class="col-12 fourth-text">
                                Color: {{ product.selected_color }}
                            </div>
                            <div class="col-12">
                                {% include "basket/quantity.html" %}
                            </div>
                        </div>
                        <div class="row"><div class="col"><hr></div></div>
                    {% endfor %}
                    <a class="btn btn-black rounded-0 btn-lg">
                    </a>
                    <a href="{% url 'checkout' %}"><input type="button" class="card-pay-option btn-lg fourth-text pt-3 mt-3" value="Pay Now!"></a>
                </div>
                <!------hide basket details on small devices-->
                <!-----bootstrap table----->
                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table table-sm table-borderless">
                        <thead class="text-dark fourth-text font-weight-bold">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Size</th>
                                <th scope="col">Color</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for product in basket_products %}
                            <tr class="text-dark fourth-text">
                                <td class="p-3 w-25">
                                    {% include "basket/image.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0 third-text text-capitalize">{{ product.product.product_name }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£ {{ product.product.selling_price }}</p>
                                </td>
                                <td class="py-3">
                                    {% include "basket/quantity.html" %}
                                </td>
                                <td class="py-3">
                                    {{ product.selected_size }}
                                </td>
                                <td class="py-3">
                                    {{ product.selected_color }}
                                </td>
                                <td class="py-3">
                                    <p><strong></strong>£ {{ product.product.selling_price | calculate_total:product.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="text-dark">
                            <td colspan="5" class=" text-right">
                                {% include "basket/cost.html" %}
                            </td>
                        </tr>
                        <tr class="text-main">
                            <td colspan="5" class="text-right">
                                {% include "basket/checkout_btn.html" %}
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="basket-heading mt-3 second-text">Your basket is currently empty.</p>
                <a href="{% url 'all_products' %}" class="btn btn-light btn-lg border border-secondary mt-5">
                    <span class="icon">
                        <i class="fas fa-arrow-circle-left mr-2"></i>
                    </span>
                    <span class="basket-heading basket-heading-sub text-Capitalize second-text">Shop Now !</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
        <script type="text/javascript">
            // update and remove option in the basket after quantity modification
            // update option
            $('.update-qty').click(function(e) {
                    var form = $(this).prev('.update-form');
                    form.submit();
                })
            // remove option
            $('.remove-qty').click(function(e) {
                var csrfToken = "{{ csrf_token }}";
                var productId = $(this).attr('id').split('remove_')[1];
                var size = $(this).data('size'); // Retrieve size from data attribute
                var color = $(this).data('color'); // Retrieve color from data attribute

                var url = `/basket/remove/${productId}/`;
                var data = {
                    'csrfmiddlewaretoken': csrfToken,
                    'size': size,  // Include size in the data
                    'color': color  // Include color in the data
                };

                $.post(url, data)
                    .done(function() {
                        location.reload();
                    });
            });
        </script>
    <!--Custom JS file for basket app only -->
    <script src="{% static 'basket/js/basket.js' %}"></script>
{% endblock %}