<h5>Basket Total : £ {{ total|floatformat:2 }}</h5>
<h6>Delivery Charge : £ {{ delivery_cost|floatformat:2 }}</h6>
<!--remove d-none class if discount % need to be shown -->
<h6 class="d-none">Discount : {{ discount_percent|floatformat:0 }}%</h6>
<h6>Discount : - £ {{ discount_amount|floatformat:2 }}</h6>
<h4 class="mt-4"><strong>Sub Total : £ {{ sum_total|floatformat:2 }}</strong></h4>
{% if free_delivery_eligibility > 0 %}
    <p class="mb-1 text-danger">
        Get free delivery by spending just
        <strong>£ {{ free_delivery_eligibility }}</strong> more!
    </p>
{% endif %}