{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% load static %}
{% block extra_css_allauth %}
    <link rel="stylesheet" type="text/css" href="{% static 'allauth_css/allauth.css' %}">
{% endblock %}

{% block inner_content %}
    <div class="wrapper text-center">
        <h1 class="login-heading first-text">{% trans "Change Password" %}</h1>
        <p class="second-text text-muted">{% trans 'Your password is now changed.' %}</p>
    </div>
{% endblock %}