{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% load static %}
{% block extra_css_allauth %}
    <link rel="stylesheet" type="text/css" href="{% static 'allauth_css/allauth.css' %}">
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <div class="wrapper">
        <h1 class="login-heading first-text">{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="third-text">
        {% blocktrans %}We have sent you an e-mail to reset your password. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
    </p>
    
    </div>
{% endblock %}