{% load static %}
<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        <!--css for products accounts only -->
        {% block extra_css_allauth %}
        {% endblock %}

        <!--css for home app only -->
        {% block extra_css_home %}
        {% endblock %}

        <!--css for products app only -->
        {% block extra_css_products %}
        {% endblock %}

        <!--css for basket app only -->
        {% block extra_css_basket %}
        {% endblock %}

        <!--css for checkout app only -->
        {% block extra_css_checkout %}
        {% endblock %}

         <!--css for profiles app only -->
        {% block extra_css_profiles %}
        {% endblock %}

        {% block corejs %}
            <!--fontawesome-->
            <script src="https://kit.fontawesome.com/7aad6afacc.js" crossorigin="anonymous"></script>
            <!--flaticon-->
            <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
            <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script> 
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <!--js for home app only -->
        {% block extra_js_home %}
        {% endblock %}


        <!--js for products app only -->
        {% block extra_js_products %}
        {% endblock %}

        <!--js for basket app only -->
        {% block extra_js_basket %}
        {% endblock %}

        <!--js for carts app only -->
        {% block extra_js_checkout %}
        {% endblock %}

        <!--js for profiles app only -->
        {% block extra_js_profiles %}
        {% endblock %}

        <title>Pashmina Paragon - Exclusive Handmade Cashmere from Nepal{% block extra_title %}{% endblock %}</title>
        <link rel="icon" href="{{ MEDIA_URL }}logo.png" type="image/x-icon">
  </head>
    <body>
        <header class="container-fluid">
            <!--navbar brand-->
            <div id="topnav" class="row bg-wite pt-3 pb-3 d-flex">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <a class="navbar-brand text-main font-weight-bold" href="{% url 'home' %}">
                        <div class="brand-logo d-inline-block mr-3">
                            <img class="card-img-top img-fluid main-logo" data-v-b1469874 src="{{ MEDIA_URL }}logo.png" alt="Company's Logo">
                        </div>
                        <div class="brand-text d-inline-block text-main mx-auto font-weight-bold">
                            Pashmina Paragon
                        </div>
                    </a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation" id="navbarToggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/nav.html' %}
                    <!--account options with if/else to check users and superusers, basket and blog-->
                    <div class="ml-auto d-none d-lg-block">
                        <ul class="list-inline list-unstyled text-center text-lg-right my-0 pr-2">
                            <li class="list-inline-item ">
                                <a class="text-main font-weight-bold nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="text-center">
                                        <div><i class="fas fa-user fa-lg text-main"></i></div>
                                        <p class="my-0 text-nav text-main">Account</p>
                                    </div>
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                        {% if request.user.is_superuser %}
                                            <a href="{% url 'add_product' %}" class="dropdown-item dropdown-account">Admin</a>
                                        {% endif %}
                                            <a href="{% url 'profile' %}" class="dropdown-item dropdown-account">My Account</a>
                                            <a href="{% url 'account_logout' %}" class="dropdown-item dropdown-account">Logout</a>
                                    {% else %}
                                        <a href="{% url 'account_signup' %}" class="dropdown-item dropdown-account">Register</a>
                                        <a href="{% url 'account_login' %}" class="dropdown-item dropdown-account">Login</a>
                                    {% endif %}
                                </div>
                            </li>
                            <!--basket-->
                            <li class="list-inline-item">
                                <a class="{% if sum_total %}text-warning font-weight-bold{% else %}text-black{% endif %} nav-link text-main font-weight-bold" href="{% url 'view_basket' %}">
                                    <div class="text-center">
                                        <div><i class="fas fa-shopping-basket text-nav text-main"></i></div>
                                        <p class="my-0 text-nav text-main">
                                            {% if sum_total %}
                                                £ {{ sum_total|floatformat:2 }}
                                            {% else %}
                                                £0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <!--blog, currently hidden using d-none class-->
                            {% if request.user.is_superuser %}
                            <li class="list-inline-item d-none">
                                <a class="text-main font-weight-bold nav-link" href="">
                                    <div class="text-center">
                                        <div><i class="fas fa-blog"></i></div>
                                        <p class="my-0">Blog</p>
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--django messages for success, warning, error and info-->
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 25 %}
                            {% include 'includes/toasts/success_toast.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/warning_toast.html' %}
                        {% elif level == 40 %}
                            {% include 'includes/toasts/error_toast.html' %}
                        {% else %}
                            {% include 'includes/toasts/info_toast.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
        <!--header on top of each page-->

        {% block page_header %}
            {% include 'includes/header.html' %}
        {% endblock %}

        {% block header_main %}
        {% endblock %}      
        
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
        <!--footer -->
        <footer>
        {% include 'includes/footer/footer.html' %}
        </footer>
        {% block postloadjs %}
            <script type="text/javascript">
                $('.toast').toast('show');
            </script>
        {% endblock %}
        <script src="{% static 'js/main.js' %}"></script>

        <!--JavaScript to empty the basket automatically if user is not active for more than 10 minutes-->
        <script type="text/javascript">
            var inactivityTimer;

            // Function to reset the inactivity timer
            function resetInactivityTimer() {
                // Clear any previous timer to avoid multiple timers running concurrently
                clearTimeout(inactivityTimer);
                
                // Set a new timer to execute after 10 minutess of inactivity
                inactivityTimer = setTimeout(function() {
                    // Redirect the user to remove_whole_basket URL after 15 minutess of inactivity
                    window.location.href = "{% url 'remove_whole_basket' %}";
                }, 100000); // 1000 milliseconds = 1 second
            }

            // Execute the resetInactivityTimer function when the document is ready
            $(document).ready(function() {
                resetInactivityTimer();
            });

            // Track user activity on mousemove or keydown events
            $(document).on('mousemove keydown', function() {
                resetInactivityTimer(); // Reset the inactivity timer on mousemove or keydown events
            });
        </script>
    </body>
</html>