<footer>
    <!--Copyright Section -->
    <div class="container-fluid copyright-container pt-4 pb-4">
        <div class="row">
            <!--Documents-->
             <div class="col-sm-6 col-lg-3 text-center footer-conten">
                <h5>
                    <p><a href="" class="t&c-pdf text-main footer-text">Terms &amp; Conditions</a></p>
                    <p><a href="" class="t&c-pdf text-main footer-text">Privacy Policy</a></p>
                </h5>
            </div>
            <!--Return/contact us -->
             <div class="col-sm-6 col-lg-3 text-center footer-content">
                <h5>
                    <p><a href="" class="t&c-pdf text-main footer-text">Shipping &amp; Returns</a></p>
                    <p><a href="{% url 'home' %}#contact-section" class="text-main">Contact Us !</a>
                </h5>
            </div>
            <!--Copyright-->
            <div class="col-sm-6 col-lg-3 text-center footer-content">
                <h5>
                    <p class="copyright-text text-main"> All Rights Reserved &copy; Pashmina Collection</p>
                    <p class="copyright-text text-main"> Designed by : <span>Shiva Neupane @Neupane Tech</span></p>
                </h5>
            </div>
            <!--social icon-->
            <div class="col-sm-6 col-lg-3 text-center footer-content">
                <h6 class="footer-text text-center">
                    <p>
                        <a href="https://facebook.com" target="_blank">
                            <i class="fab fa-facebook social-icon social-icon-whatsapp first-text text-main"></i>
                        </a>
                        <span>
                            <a href="https://instagram.com/pashmina.collection?utm_medium=copy_link">
                                <i class="fab fa-instagram-square social-icon first-text text-main"></i>
                            </a>
                        </span>
                    </p>
                </h6>
            </div>
        </div>
    </div>
</footer>