<footer>
    <div class="container-fluid footer-container">
        <div class="row justify-content-center">
            <!--Certified Body & Social Media Icons-->
            <div class="col-md-4 footer-content">
                <h4 class="text-main footer-text text-center">Our Accreditations</h4>
                 <hr class="w-50 mx-auto">
                <div class="row">
                    <div class="col-xs-6 col-md-4 text-center mb-4 pb-3">
                        <a href="https://www.gov.uk/pass-plus/overview" target="_blank"><img class="img-footer" src="{{  MEDIA_URL }}passplus2.0.jpg" alt=""></a>
                    </div>
                    <div class="col-xs-6 col-md-4 text-center mb-4 pb-3">
                        <a href="https://www.gov.uk/book-driving-test" target="_blank"><img class="img-footer" src="{{  MEDIA_URL }}dia.jpg" alt=""></a>
                    </div>
                    <div class="col-xs-6 col-md-4 text-center mb-4 pb-3">
                        <a href="http://www.dsa.org.uk/" target="_blank"><img class="img-footer" src="{{  MEDIA_URL }}dvsa.jpg" alt=""></a>
                    </div>
                </div>
            </div>
             <!--Social Media-->
            <div class="col-md-4 footer-text mb-4 pb-4">
                <h5 class="text-main text-center">Follow Us</h5>
                <hr class="w-50 mx-auto">
                <ul class="social-icons text-center">
                    <li class="facebook"><i class="fa-brands fa-square-facebook fa-social mr-5"></i></li>
                    <li class="instagram"><i class="fa-brands fa-square-instagram fa-social"></i></li>
                </ul>
            </div>
            <!--Contact Info-->
            <div class="col-md-4 footer-content text-center">
                <h4 class="text-main footer-text">We are always here to help</h4>
                <hr class="w-50 mx-auto">
                <p class="text-center"><a href="" class="btn btn-light btn-lg text-main h1">Contact us !</a> </p>
                
            </div>
        </div>
    </div>
    <!--Copyright Section -->
    <div class="container-fluid copyright-container">
        <div class="row">
            <div class="col-sm-6 col-xl-4 text-center footer-content">
                <h5 class="copyright-text text-main pt-4 mt-2"> All Rights Reserved &copy; Neupane Driving School</h5>
            </div>
            <!--Documents-->
            <div class="col-sm-6 col-xl-4 footer-content">
                <div class="row text-center">
                    <div class="col-sm-6 terms-cons">
                        <h5>
                            <a href="{{  MEDIA_URL }}t&c-v2.0.pdf" alt="" target="_blank" class="t&c-pdf text-main footer-text pt-4">Terms &amp; Conditions</a>
                        </h5>
                    </div>
                    <div class="col-sm-6">
                       <h5 class="text-main footer-text">Privacy Policy</h5>
                    </div>
                </div>
            </div>
            <!--Designer Info-->
            <div class="col-sm-6 col-xl-4">
                <h5 class="text-main footer-text text-center text-design">
                    Developed by : <span>Shiva Neupane @Neupane Tech</span>
                </h5>
            </div>
        </div>
    </div>
</footer>