<div class="toast warning-toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
    <div class="toast-header">
      <strong class="mr-auto text-warning">Warning!</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
        <div class="row">
          <div class="col">
              <p class="message warning-message">{{ message }}</p>
              <hr>
          </div>
      </div>
    </div>
</div>